<!-- wp:template-part {"slug":"header","theme":"fitness-in-the-park"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained","contentSize":"760px"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:post-title {"level":1} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"},"fontSize":"small"} -->
<div class="wp-block-group has-small-font-size"><!-- wp:post-date /-->
<!-- wp:post-terms {"term":"category"} /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"type":"constrained","contentSize":"760px"}} /-->

<!-- wp:post-navigation-link {"type":"previous"} /-->
<!-- wp:post-navigation-link /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"fitness-in-the-park"} /-->
